  .skeleton-loader:after {
    content: '';
    display: block;
      width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: linear-gradient( 90deg, rgba(10, 10, 11, 0), rgba(10, 10, 11, 0.8) 50%, rgba(10, 10, 11, 0) 100% ), 
        linear-gradient(#26282b 32px, transparent 0), 
        linear-gradient(#26282b 32px, transparent 0), 
        linear-gradient(#26282b 32px, transparent 0), 
        linear-gradient(#26282b 32px, transparent 0), 
        linear-gradient(#26282b 32px, transparent 0), 
        linear-gradient(#26282b 32px, transparent 0), 
      linear-gradient(#19191a 100%, transparent 0);

    background-size: 
    175px 100%,
    6% 100%,
    6% 100%,
    6% 100%,
    6% 100%,
    6% 100%,
    6% 100%,
    100% 100%;
    background-position:
    0 0 ,
    5.81% 16px,
    23.52% 16px,
    41.6% 16px,
    59.9% 16px,
    77.6% 16px,
    94.3% 16px,
    0 0;
    animation: skeleton-animation 2000ms infinite;
  }
  
  @keyframes skeleton-animation {
    to {
      background-position: 100% 0,
      5.72% 16px,
      23.5% 16px,
      41.6% 16px,
      59.9% 16px,
      77.6% 16px,
      94.3% 16px,
      0 0;
    }
  }
  

  @media (min-width: 769px) {
  .skeleton-loader {
    display: none;
  }
}

/* Ensure visibility on smartphones and smaller tablets (≤768px) */
@media (max-width: 768px) {
  .skeleton-loader {
    display: block; /* Explicitly ensure visibility */
  }
}